
<div class="container" *ngIf="incomingData && incomingData.action !== 'delete'">
    <div class="row form-title">
        <h1 mat-dialog-title>Add Contractor<button mat-button color="warn" class="cancel" (click)="cancelDelete()">X</button></h1>
    </div>

    <h3 class="ContractorSubHeading">Please enter all required details to create a new Contractor!</h3>

    <div >
        <form class="example-form" [formGroup]="addContractorForm!" (ngSubmit)="addContractor()">
            
            <mat-form-field class="form">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName">
            </mat-form-field>
            <mat-form-field class="form">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName">
            </mat-form-field>
            <mat-form-field class="form">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field class="form">
                <mat-label>Contact</mat-label>
                <input matInput formControlName="contact">
            </mat-form-field>
            <div class="end">
                <button mat-raised-button color="warn" class="cancel-btn" (click)="closePopup()">Cancel</button>
                <button type="submit" mat-raised-button color="accent" class="save-btn" [disabled]="addContractorForm.invalid">Create</button>
            </div>
        </form>
    </div>
</div>

<div class="container" *ngIf="incomingData && incomingData.action === 'delete'">
    <div class="row">
        <h2  mat-dialog-title>Are you sure you want delete the selected Contractor?</h2>
    </div>
    <div class="row">
        <button mat-raised-button color="warn" class="yes-btn" (click)="deleteContractor()">Delete</button>
        <button mat-raised-button class="no-btn" (click)="cancelDelete()">Cancel</button>
    </div>
</div>


            
        
         
  