<h1>Contractor Hierarchy</h1>

<div *ngFor="let specialty of groupedContractors.keys()">
  <h2>{{ specialty }}</h2>
  <mat-card *ngFor="let contractor of groupedContractors.get(specialty)">
    <mat-card-title>{{ contractor.user.name }} {{ contractor.user.surname }}</mat-card-title>
    <mat-card-content>
      <p>Email: {{ contractor.user.email }}</p>
      <p>Phone Number: {{ contractor.user.phoneNumber }}</p>
      <!-- Add other contractor information as needed -->
    </mat-card-content>
  </mat-card>
</div>

<!--<mat-tree [dataSource]="treeDataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- Display contractor details here --
    <button mat-icon-button (click)="openDetails(node.data)">Details</button>
    {{ node.data.name }} {{ node.data.surname }}
  </mat-tree-node>

  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <button mat-icon-button matTreeNodePadding>
      <mat-icon>{{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}</mat-icon>
    </button>
    {{ node.data.areaOfBusiness }}
    <span class="mat-tree-children">
      <ng-container matTreeNodeOutlet></ng-container>
    </span>
  </mat-nested-tree-node>
</mat-tree>-->


<!--Trying to reach:
- Contractors
  - General Contractors
    - Commercial General Contractors
    - Residential General Contractors
    - Industrial General Contractors
  - Specialized Contractors
    - Electrical Contractors
    - Plumbing Contractors
    - HVAC Contractors
    - Roofing Contractors
    - Flooring Contractors
    - Painting Contractors
    - Landscaping Contractors
    - Concrete Contractors
  - Construction Management Firms
    - Project Managers
    - Estimators
    - Schedulers
  - Subcontractors
    - Electrical Subcontractors
    - Plumbing Subcontractors
    - Carpentry Subcontractors
    - Masonry Subcontractors
    - Painting Subcontractors
    - HVAC Subcontractors
  - Design-Build Contractors
  - Renovation Contractors
  - Environmental Contractors
    - Asbestos Removal Contractors
    - Environmental Remediation Contractors
  - Civil Engineering Contractors
  - Road and Bridge Contractors
  - Specialty Trade Contractors
    - Elevator Contractors
    - Fire Protection Contractors
    - Solar Contractors
    - Demolition Contractors
  - Home Improvement Contractors
    - Kitchen Remodeling Contractors
    - Bathroom Remodeling Contractors
  - Mechanical Contractors
    - Refrigeration Contractors
    - Plumbing and Heating Contractors
  - Restoration Contractors
  - Government Contractors
  - Commercial Interior Contractors
  - Residential Remodeling Contractors-->
