<h1>Maintenance Status</h1>

<div class="create">
  <button mat-fab extended color="accent" (click)="openModal()">
    <mat-icon>add</mat-icon>
    Add Maintenance Status
  </button>
</div>

<br />

<div class="mat-elevation-z8">
  <mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="start typing..."
      #input
    />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="maintenanceStatusName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Maintenance Status</th>
      <td mat-cell *matCellDef="let element">{{ element.maintenanceStatusName }}</td>
    </ng-container>


    <ng-container matColumnDef="deleteButton">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button class="deletebutton"(click)="EditStatus(element.maintenanceStatusID)"><mat-icon>edit</mat-icon></button>

        <button
          mat-button
          class="deletebutton"
          (click)="deleteStatus(element.maintenanceStatusID)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
  <mat-paginator
    [pageSize]="10"
    [pageSizeOptions]="[3, 5, 10]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>

