<h1 mat-dialog-title>Create Property <button mat-button color="warn" class="cancel" (click)="closeModal()">X</button></h1>
<div mat-dialog-content>
    <h3>Please enter all required details to create a new property!</h3>
    <mat-form-field class="form">
        <h3>Property Description:</h3>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="form">
        <h3>Building Number:</h3>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="form">
        <h3>Street:</h3>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="form">
        <h3>Suburb:</h3>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="form">
        <h3>Rental Amount:</h3>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="form">
        <h3>Size:</h3>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="form">
        <h3>Yard:</h3>
        <input matInput>
    </mat-form-field>
</div>
<div class="end">
    <button mat-raised-button color="accent">Create</button>
    <button mat-raised-button color="warn" class="cancel" (click)="closeModal()">Cancel</button>
</div>