<div class="modal-overlay">
  <div class="modal-container">
    <h2>Add New Property <button mat-button color="warn" class="cancel" (click)="closeModal()">X</button></h2>
    <form (submit)="CreateProperty()">
      <mat-form-field class="form-field">
        <label>Description:</label>
        <input
          matInput
          [(ngModel)]="propertyModel.description"
          name="description"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Building Number:</label>
        <input
          matInput
          [(ngModel)]="propertyModel.buildingNumber"
          name="buildingNumber"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Street:</label>
        <input
          matInput
          [(ngModel)]="propertyModel.street"
          name="street"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Suburb:</label>
        <input
          matInput
          [(ngModel)]="propertyModel.suburb"
          name="suburb"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Purchase Amount:</label>
        <input
          matInput
          placeholder="R"
          [(ngModel)]="propertyModel.purchaseAmount"
          name="purchaseAmount"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Purchase Year:</label>
        <input
          matInput
          [(ngModel)]="propertyModel.purchaseYear"
          name="purchaseYear"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Size</label>
        <input
          matInput
          [(ngModel)]="propertyModel.size"
          name="size"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Yard</label>
        <input
          matInput
          [(ngModel)]="propertyModel.yard"
          name="yard"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Broker</label>
        <mat-select [(ngModel)]="propertyModel.broker" name="broker" (selectionChange)="updateSelectedBroker($event.value)">
          <mat-option *ngFor="let broker of brokers" [value]="broker">{{ broker.name }}</mat-option>
        </mat-select>
      </mat-form-field>


      <div class="modal-actions">

        <button mat-raised-button type="submit" color="accent" (click)="sendToBackend()">
          Add Property
        </button>
        <button mat-raised-button color="warn" (click)="closeModal()" class="cancel">Cancel</button>

      </div>
    </form>
  </div>
</div>
