<div class="modal-overlay">
  <div class="modal-container">
    <h2>Add New Property</h2>
    <form (submit)="CreateProperty()">
      <mat-form-field class="form-field">
        <input
          matInput
          placeholder="Description"
          [(ngModel)]="propertyModel.description"
          name="description"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          matInput
          placeholder="Building Number"
          [(ngModel)]="propertyModel.buildingNumber"
          name="buildingNumber"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          matInput
          placeholder="Street"
          [(ngModel)]="propertyModel.street"
          name="street"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          matInput
          placeholder="Suburb"
          [(ngModel)]="propertyModel.suburb"
          name="suburb"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          matInput
          placeholder="Purchase Amount"
          [(ngModel)]="propertyModel.purchaseAmount"
          name="purchaseAmount"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          matInput
          placeholder="Purchase Year"
          [(ngModel)]="propertyModel.purchaseYear"
          name="purchaseYear"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          matInput
          placeholder="Size"
          [(ngModel)]="propertyModel.size"
          name="size"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          matInput
          placeholder="Yard"
          [(ngModel)]="propertyModel.yard"
          name="yard"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Broker</mat-label>
        <mat-select [(ngModel)]="propertyModel.broker" name="broker" (selectionChange)="updateSelectedBroker($event.value)">
          <mat-option *ngFor="let broker of brokers" [value]="broker">{{ broker.name }}</mat-option>
        </mat-select>
      </mat-form-field>


      <div class="modal-actions">
        <button mat-button type="button" colour="primary" (click)="closeModal()">Cancel</button>
        <br>
        <button mat-raised-button type="submit" color="primary" (click)="sendToBackend()">
          Add Property
        </button>
      </div>
    </form>
  </div>
</div>
