<h1>Users</h1>

<!--Search Bar-->
<div class="search-container">
    <input class="search-input" placeholder="Search Users" [(ngModel)]="searchTerm" (input)="search()">
    <button class="search-button" mat-icon-button color="primary" (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </div>

<!--Create Button-->
<div class="create">
    <button mat-fab extended color="accent" (click)="openModal()">
        <mat-icon>add</mat-icon>
        Create User
    </button>
</div>

<br>
<br>
<br>
<br>
<br>

<!--Table-->
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>User Role</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of tableData">
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.userRole }}</td>
        <!--Update Button-->
        <td><button mat-raised-button color="primary"><mat-icon class="card-icon">edit</mat-icon><br></button></td>
        <!--Delete Button-->
        <td><button mat-raised-button color="warn" (click)="openDeleteUserDialog()"><mat-icon class="card-icon">delete</mat-icon><br></button></td>
      </tr>
    </tbody>
  </table>