<h1>Maintenance</h1>

<div class="container">
  <div class="card"><a [routerLink]="'/assignMaintenance'">
      <div class="circle">
          <h4>Assign 
            <br><br>
            Maintenance</h4>
      </div>
      <div class="content">
          <p>
            View all the assigned maintenace on the system. The rest of the information that we need to establish.
            <br>
            Click on the card will take the user to the view all employees page.
          </p>
      </div>
  </a></div>

  <!--<div class="card"><a  [routerLink]="'/viewMaintenance'">
    <div class="circle">
        <h4>View 
          <br><br>
          Maintenance</h4>
    </div>
    <div class="content">
        <p>
          All the maintenance created for the system can be viewed. The rest of the information that we need to establish.
          <br> <br>
          Click on the card will take the user to print a employee report.
        </p>
    </div>
  </a></div>-->

  <div class="card"><a  [routerLink]="'/generateMaintenance'">
      <div class="circle">
          <h4>Generate 
            <br><br>
            Report</h4>
      </div>
      <div class="content">
          <p>
            Generate maintenance report. The rest of the information that we need to establish.
            <br> <br>
            Click on the card will take the user to print a employee report.
          </p>
      </div>
  </a></div>

  <!--<div class="card"><a  [routerLink]="'/maintenanceType'">
    <div class="circle">
        <h4>View Types</h4>
    </div>
    <div class="content">
        <p>
          All the maintenance types created for the system can be viewed. The rest of the information that we need to establish.
          <br> <br>
          Click on the card will take the user to print a employee report.
        </p>
    </div>
  </a></div>

  <div class="card"><a  [routerLink]="'/maintenanceType'">
    <div class="circle">
        <h4>View Types</h4>
    </div>
    <div class="content">
        <p>
          All the maintenance statuses created for the system can be viewed The rest of the information that we need to establish.
          <br> <br>
          Click on the card will take the user to print a employee report.
        </p>
    </div>
  </a></div>-->
</div>
