<h1>Maintenance</h1>

 <div class="container">
  <div class="card"><a [routerLink]="'/viewMaintenance'">
      <div class="circle">
          <h4>View  
              <br><br>
              Maintenance</h4>
      </div>
      <div class="content">
          <p>
            All the maintenance created for the system can be viewed.
                        <br>
            Click on the card will take the user to the view all the maintenances on the system.
          </p>
      </div>
  </a></div>

  <div class="card"><a  [routerLink]="'/maintenanceStatus'">
      <div class="circle">
          <h4>View<br><br> Maintenance 
            <br> <br>
            Status</h4>
      </div>
      <div class="content">
          <p>
            All the maintenance statuses created for the system can be viewed. 
                        <br> <br>
            Click on the card will take the user to view Maintenance statuses.
          </p>
      </div>
  </a></div>

  <div class="card"><a  [routerLink]="'/maintenanceType'">
    <div class="circle">
        <h4>View<br><br> Maintenance <br><br>Types </h4>
    </div>
    <div class="content">
        <p>
          All the maintenance types created for the system can be viewed. 
          <br> <br>
          Click on the card will take the user to view Maintenance types.        
        </p>
    </div>
</a></div>
<!--
<div class="card"><a  [routerLink]="'/generateMaintenance'">
  <div class="circle">
      <h4>Maintenance <br><br>Report </h4>
  </div>
  <div class="content">
    <p>
      Generate Maintenance Report. The rest of the information that we need to establish.
      <br> <br>
      Click on the card will take the user to print a maintenance report.
    </p>
</div>
</a></div>-->


</div>
