<h1>Maintenance</h1>  

<p>All maintenance features will be available for only the Admin to access and use.</p>

<mat-grid-list cols="2">
  <div class="cards"> 
    <mat-card class="assignCard">
      <mat-card-header>
      <mat-card-title>Assign Maintenance</mat-card-title>
        <mat-card-subtitle>Assign Maintenance on the system</mat-card-subtitle>
      </mat-card-header>
        <mat-icon class="icon">engineering</mat-icon>
      <mat-card-content>
        <p>All the maintenance and contractors on the system. The rest of the information that we need to establish.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><a mat-list-item [routerLink]="'/assignMaintenance'">ASSIGN MAINTENANCE</a></button>
      </mat-card-actions>
      </mat-card>
  </div>
  <br>
  <div class="cards"> 
    <mat-card class="paymentCard">
      <mat-card-header>
        <mat-card-title>Payment</mat-card-title>
        <mat-card-subtitle>Payments made for maintenace</mat-card-subtitle>
      </mat-card-header>
      <mat-icon class="icon">payments</mat-icon>
      <mat-card-content>
      <p>
        Payments for any maintenance done. The rest of the information that we need to establish.
      </p>
      </mat-card-content>
    <mat-card-actions>
      <button mat-button><a mat-list-item [routerLink]="'/payment'">PAYMENT</a></button>
    </mat-card-actions>
  </mat-card>
  </div>
  <br>
  <div class="cards"> 
    <mat-card class="noteCard">
      <mat-card-header>
      <mat-card-title>Maintenance Note</mat-card-title>
        <mat-card-subtitle>Maintenance notes made on the system</mat-card-subtitle>
      </mat-card-header>
        <mat-icon class="icon">description</mat-icon>
      <mat-card-content>
        <p>All the maintenance notes made on the system. The rest of the information that we need to establish.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><a mat-list-item [routerLink]="'/maintenanceNote'">MAINTENANCE NOTE</a></button>
      </mat-card-actions>
    </mat-card>
    </div>
    <br>
  <div class="cards"> 
    <mat-card class="generateCard">
      <mat-card-header>
        <mat-card-title>Generate Maintenance Reports</mat-card-title>
        <mat-card-subtitle>Generate maintenance report</mat-card-subtitle>
      </mat-card-header>
      <mat-icon class="icon">summarize</mat-icon>
      <mat-card-content>
      <p>
        Generate maintenance Report. The rest of the information that we need to establish.
      </p>
      </mat-card-content>
    <mat-card-actions>
      <button mat-button><a mat-list-item [routerLink]="'/generateMaintenance'">MAINTENANCE REPORTS</a></button>
    </mat-card-actions>
  </mat-card>
  </div>
