button {
    margin-right: 8px;
}

.search-container {
    display: flex;
    float: left;
    align-items: left;
    width: 50%;
    margin: 0 auto;
    background-color: lightgray;
    padding: 10px;
    border-radius: 4px;

}

.search-input {
    flex-grow: 1;
    border: none;
    background-color: lightgray;
    padding: 4px;
    font-size: 16px;
    color: black;
    margin-right: 8px;
}

.search-button {
    margin-left: 8px;
    font-size: 20px;
    color: green;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    }

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
button {
    margin-right: 8px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 70%;
  }

  .create {
    float: right;
    position: relative;
    font-size: 30px;
  }
