<mat-toolbar color="accent">
  <mat-toolbar-row>
    <span class="menu">
      <button mat-icon-button class="bigger-icon" (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
    <span class="home">
      <button mat-icon-button class="bigger-icon" (click)="onClickHome()">
        <mat-icon> home </mat-icon>
      </button>
    </span>
    <span class="propnote"><h1>PropNote</h1></span>

    <span class="chat">
      <button mat-icon-button class="bigger-icon" (click)="onClickCalc()">
        <mat-icon> calculate </mat-icon>
      </button>
    </span>

    <span class="chat">
      <button mat-icon-button class="bigger-icon" (click)="onClickChat()">
        <mat-icon> chat </mat-icon>
      </button>
    </span>

    <span class="chat">
      <button mat-icon-button class="bigger-icon" (click)="onClickHelp()">
        <mat-icon> help </mat-icon>
      </button>
    </span>

    <!--<span class="account">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="bigger-icon">account_circle</mat-icon>
      </button>
      <!--RIGHT SIDE DROPDOWN--
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <a mat-list-item [routerLink]="'/viewProfile'"> View Profile</a>
        </button>
        <button mat-menu-item>
          <a mat-list-item [routerLink]="'/password'"> Change Password</a>
        </button>
        <button mat-menu-item>
          <a mat-list-item [routerLink]="'/notifications'"> Notifications</a>
        </button>
        <button mat-menu-item>
          <a mat-list-item [routerLink]="'/help'"> Help</a>
        </button>
      </mat-menu>
    </span>-->
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" class="side-container">
    <!--Users-->
    <mat-nav-list>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>account_box</mat-icon>
          <a mat-list-item [routerLink]="'/users'"> Users</a>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/viewUsers'"> Users</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/viewUserRoles'"> User Roles</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!--Properties-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>factory</mat-icon>
          <a mat-list-item [routerLink]="'/properties'"> Properties</a>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/viewAllProperties'">View Properties</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/generateProperties'">Generate Property Report</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/typesStatuses'">Types and Statuses</a>
        </mat-nav-list>
        <!--<mat-nav-list>
          <a mat-list-item [routerLink]="'/mapProperties'">Properties Map</a>
        </mat-nav-list>-->
      </mat-expansion-panel>

      <!--Tenants-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>person</mat-icon>
          <a mat-list-item [routerLink]="'/tenants'"> Tenants</a>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/viewTenants'"> View Tenants</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/generateTenants'">Generate Tenants Report</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!--Contractors-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>handyman</mat-icon>
          <a mat-list-item [routerLink]="'/contractors'"> Contractors</a>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/viewContractors'">View Contractors</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/generateContractors'">Generate Contractor Report</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/contractorTree'">Contractor Hierarchy</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!--Employee-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>group</mat-icon>
          <a mat-list-item [routerLink]="'/employee'"> Employee</a>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/viewEmployees'"> View Employees</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/generateEmployees'">Generate Employees Report</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!--Broker-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>real_estate_agent</mat-icon>
          <a mat-list-item [routerLink]="'/broker'"> Broker</a>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/viewBroker'"> View Broker</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/generateBroker'">Generate Broker Report</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!--Leases-->
      <mat-expansion-panel [routerLink]="'/viewLeases'">
        <mat-expansion-panel-header>
          <mat-icon>library_books</mat-icon>
          <a mat-list-item> Leases</a>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <!--Maintenance-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>engineering</mat-icon>
          <a mat-list-item [routerLink]="'/maintenance'"> Maintenance</a>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/assignMaintenance'"> Assign Maintenance</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/viewMaintenance'">View Maintenance</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/payment'"> Payment</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/maintenanceNote'">Maintenance Note</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/maintenanceType'">Maintenance Type</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/maintenanceStatus'">Maintenance Status</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/generateMaintenance'">Generate Maintenance Report</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!--Calendar-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>calendar_month</mat-icon>
          <a mat-list-item [routerLink]="'/calendar'"> Calendar</a>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/viewCalendar'"> View Calendar</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/generateCalendar'">Generate Meetings Report</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!--Logout-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>logout</mat-icon>
          <a mat-list-item (click)="Logout()"> Logout</a>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content-container">
    <div style="height: 88vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
