<h1>Broker</h1>

<div class="container">
  <div class="card"><a [routerLink]="'/viewBroker'">
      <div class="circle">
          <h4>View
              <br><br>
              Brokers</h4>
      </div>
      <div class="content">
          <p>
            All the brokers created for the system can be viewed. The rest of the information that we need to establish.
            <br>
            Click on the card will take the user to the view all brokers page.
          </p>
      </div>
  </a></div>

  <div class="card"><a  [routerLink]="'/generateBroker'">
      <div class="circle">
          <h4>Brokers
            <br> <br>
            Report</h4>
      </div>
      <div class="content">
          <p>
            Generate broker Report. The rest of the information that we need to establish.
            <br> <br>
            Click on the card will take the user to print a broker report.
          </p>
      </div>
  </a></div>
</div>


<!--<h1>Broker</h1>

<p>All broker features will be available for only the Admin to create, view, updated and delete.</p>

<mat-grid-list cols="2">
  <div class="cards">
    <mat-card class="brokerCard">
      <mat-card-header>
      <mat-card-title>View Broker</mat-card-title>
        <mat-card-subtitle>View all the brokers on the system</mat-card-subtitle>
      </mat-card-header>
        <mat-icon class="icon">apartment</mat-icon>
      <mat-card-content>
        <p>All the brokers created for the system can be viewed. The rest of the information that we need to establish.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><a mat-list-item [routerLink]="'/viewBroker'">VIEW BROKERS</a></button>
      </mat-card-actions>
      </mat-card>
  </div>
  <br>
  <div class="cards">
    <mat-card class="reportCard">
      <mat-card-header>
        <mat-card-title>Generate Broker Reports</mat-card-title>
        <mat-card-subtitle>Generate broker report</mat-card-subtitle>
      </mat-card-header>
      <mat-icon class="icon">summarize</mat-icon>
      <mat-card-content>
      <p>
        Generate broker Report. The rest of the information that we need to establish.
      </p>
      </mat-card-content>
    <mat-card-actions>
      <button mat-button><a mat-list-item [routerLink]="'/generateBroker'">BROKER REPORTS</a></button>
    </mat-card-actions>
  </mat-card>
</div>-->
