<div class="modal-overlay">
  <div class="modal-container">
    <h2>Add Maintenance Note</h2>
    <form (submit)="AddMaintenanceType()">
      
      <mat-form-field class="form-field">
        Note Description
        <input
          matInput
          name="maintenanceNoteDescription"
          [formControl]="descriptionFormControl"
          #maintenaceNoteDescription
          (keyup)="updateDescription(maintenaceNoteDescription.value)"
        />
        <mat-error *ngIf="descriptionFormControl.hasError('required')">
          Description is required.
        </mat-error>
        <mat-error *ngIf="descriptionFormControl.hasError('pattern')">
          Description must contain only alphabets and spaces.
        </mat-error>
        <mat-error *ngIf="descriptionFormControl.hasError('maxlength')">
          Description cannot exceed 50 characters.
        </mat-error>
      </mat-form-field>
      <div class="end">
        <button mat-raised-button  color="accent" (click)="AddMaintenanceType()">Add</button>
        <button mat-raised-button mat-dialog-close cdkFocusInitialcolor color="warn" class="cancel" (click)="closeModal()">Cancel</button>
    </div>
    </form>
  </div>
</div>
