<div class="modal-overlay">
  <div class="modal-container">
    <h2>Add New Broker <button mat-button color="warn" class="cancel" (click)="closeModal()">X</button></h2>
    <form (submit)="AddBroker()" >
      <mat-form-field class="form-field" >
        <label>Name:</label>
        <input
          matInput
          [(ngModel)]="brokerModel.name"
          name="name"
          required
          maxlength="32"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Surname:</label>
        <input
          matInput
          [(ngModel)]="brokerModel.surname"
          name="surname"
          required
          maxlength="32"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Phone Number:</label>
        <input
          matInput
          [(ngModel)]="brokerModel.phoneNumber"
          name="phoneNumber"
          required
          pattern="0\d{9}"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Office Address:</label>
        <input
          matInput
          [(ngModel)]="brokerModel.officeAddress"
          name="officeAddress"
          required
          maxlength="50"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>License Number:</label>
        <input
          matInput
          [(ngModel)]="brokerModel.licenseNumber"
          name="licenseNumber"
          required
          maxlength="10"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Commission Rate:</label>
        <input
          matInput
          [(ngModel)]="commissionRatePercentage"
          type="number"
          name="commissionRate"
          required
          maxlength="10"
        />
      </mat-form-field>
      <div class="modal-actions">
        <button mat-raised-button type="submit" color="accent">
          Add Broker
        </button>
        <button mat-raised-button color="warn" (click)="closeModal()" class="cancel">Cancel</button>
      </div>