<div class="modal-overlay">
  <div class="modal-container">

    <h2 class="BrokerHeading">Add New Broker <button mat-button color="warn" class="cancel" (click)="closeModal()">X</button></h2>
    <h3 class="BrokerSubHeading">Please enter all required details to create a new broker!</h3>

    <form (submit)="AddBroker()" >
      <mat-form-field class="form-field" >
        <input
          matInput
          placeholder="Name"
          [(ngModel)]="brokerModel.name"
          name="name"
          required
          maxlength="32"
        />
        <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>

      </mat-form-field>
      <br>

      <mat-form-field class="form-field">
        <input
          matInput
          placeholder="Surname"
          [(ngModel)]="brokerModel.surname"
          name="surname"
          required
          maxlength="32"
        />
        <mat-error *ngIf="surname.invalid">{{getErrorMessageSurname()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="form-field">
        <input
          matInput
          placeholder="Phone Number"
          [(ngModel)]="brokerModel.phoneNumber"
          name="phoneNumber"
          required
          pattern="0\d{9}"
          maxlength="10"
          minlength="10"
        />
        <mat-error *ngIf="phoneNumber.invalid">{{getErrorMessagePhoneNumber()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="form-field">
        <input
          matInput
          placeholder="Office Address"
          [(ngModel)]="brokerModel.officeAddress"
          name="officeAddress"
          required
          maxlength="50"
        />
        <mat-error *ngIf="officeAddress.invalid">{{getErrorMessageOfficeAddress()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="form-field">
        <input
          matInput
          placeholder="License Number"
          [(ngModel)]="brokerModel.licenseNumber"
          name="licenseNumber"
          required
          maxlength="10"
        />
        <mat-error *ngIf="licenseNumber.invalid">{{getErrorMessageLicenseNumber()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="form-field">
        <input
          matInput
          [placeholder]="commissionRatePlaceholderText"
          [(ngModel)]="commissionRatePercentage"
          type="number"
          name="commissionRate"
          required
          maxlength="10"
        />
        <!-- <mat-error *ngIf="commissionRatePercentage.invalid">{{getErrorMessageCommissionRatePercentage()}}</mat-error> -->
      </mat-form-field>

      <div class="modal-actions">
        <button mat-raised-button type="button" class="cancelButton" color="warn" (click)="closeModal()">Cancel</button>
        <button mat-raised-button type="submit" class="createBrokerButton">Create</button>
      </div>

    </form>

  </div>
</div>
