<div class="modal-overlay">
  <div class="modal-container">
    <h2>Add New Broker <button mat-button color="warn" class="cancel" (click)="closeModal()">X</button></h2>
    <form (submit)="AddBroker()" >
      <mat-form-field class="form-field" >
        <label> <label class="validation">* </label>Name:</label>
        <input
          matInput
          [(ngModel)]="brokerModel.name"
          name="name"
          placeholder="Enter a first name"
          required
          maxlength="32"
        />
        <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label> <label class="validation">* </label>Surname:</label>
        <input
          matInput
          [(ngModel)]="brokerModel.surname"
          name="surname"
          placeholder="Enter a surname"
          required
          maxlength="32"
        />
        <mat-error *ngIf="surname.invalid">{{getErrorMessageSurname()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label> <label class="validation">* </label>Phone Number:</label>
        <input
          matInput
          [(ngModel)]="brokerModel.phoneNumber"
          placeholder="Enter a phone number"
          name="phoneNumber"
          required
          pattern="0\d{9}"
          maxlength="10"
          minlength="10"
        />
        <mat-error *ngIf="phoneNumber.invalid">{{getErrorMessagePhoneNumber()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label> <label class="validation">* </label>Office Address:</label>
        <input
          matInput
          placeholder="Enter an Office Address"
          [(ngModel)]="brokerModel.officeAddress"
          name="officeAddress"
          required
          maxlength="50"
        />
        <mat-error *ngIf="officeAddress.invalid">{{getErrorMessageOfficeAddress()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label> <label class="validation">* </label>License Number:</label>
        <input
          matInput
          placeholder="Enter a license Number"
          [(ngModel)]="brokerModel.licenseNumber"
          name="licenseNumber"
          required
          maxlength="10"
        />
        <mat-error *ngIf="licenseNumber.invalid">{{getErrorMessageLicenseNumber()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label> <label class="validation">* </label>Commission Rate:</label>
        <input
          matInput
          placeholder="Enter a Commission Rate %"
          [(ngModel)]="commissionRatePercentage"
          type="number"
          name="commissionRate"
          required
          maxlength="10"
        />
        <!-- <mat-error *ngIf="commissionRatePercentage.invalid">{{getErrorMessageCommissionRatePercentage()}}</mat-error> -->
      </mat-form-field>
      <div class="modal-actions">
        <button mat-raised-button type="submit" color="accent" > 
          Add Broker
        </button>
        <button mat-raised-button color="warn" (click)="closeModal()" class="cancel">Cancel</button>
      </div>
