<div class="cards">
    <mat-card class="welcome-card">
        <mat-card-content>
            Welcome to PropNote
        </mat-card-content>
    </mat-card>
    <br>
    <!--Login card-->
    <mat-card class="card">
        <br>
        <mat-card-title class="title">Login</mat-card-title>
        <br>
        <br>
        <mat-card-content>
          <form class="form" [ngFormOptions]="LoginForm">
                <div class="form-group">
                    <label class="form-control-label">Username:</label>
                    <br>
                    <br>
                    <input type="text" class="form-control">
                </div>
                <br>
                <div class="form-group">
                    <label class="form-control-label">Password:</label>
                    <br>
                    <br>
                    <input type="password" class="form-control" i>
                    <br>
                    <br>
                    <div class="forgotPassword">Forgot Password!</div>
                </div>
                <br>
                <br>
                <div class="button">
                    <button mat-raised-button color="accent" [routerLink]="'/home'">Login</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
