<div class="modal-container">
    <h2>Assign Maintenance<button mat-button color="warn" class="cancel" (click)="closeModal()">X</button></h2> 
  
  <form [formGroup]="assignMaintenanceForm" (submit)="onSubmit()">
    <mat-form-field>
      <input matInput formControlName="maintenanceNote" placeholder="Maintenance Note">
      <mat-error *ngIf="assignMaintenanceForm.get('maintenanceNote')?.hasError('required')">Maintenance Note is required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput formControlName="status" placeholder="Status">
      <mat-error *ngIf="assignMaintenanceForm.get('status')?.hasError('required')">Status is required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput formControlName="property" placeholder="Property">
      <mat-error *ngIf="assignMaintenanceForm.get('property')?.hasError('required')">Property is required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput formControlName="contractor" placeholder="Contractor">
      <mat-error *ngIf="assignMaintenanceForm.get('contractor')?.hasError('required')">Contractor is required</mat-error>
    </mat-form-field>
    <br>
    <button type="submit" mat-raised-button color="accent">Create</button>
    <button mat-raised-button color="warn" class="cancel" (click)="closeModal()">Cancel</button>
  </form>
  </div>