<div class="modal-overlay">
  <div class="modal-container">
    <h2>Add New Tenant <button mat-button color="warn" class="cancel" (click)="closeModal()">X</button></h2>
    <form (submit)="CreateTenant()">
      <mat-form-field class="form-field">
        <label> <label class="validation">* </label>Username:</label>
        <input
          matInput
          [(ngModel)]="tenantModel.username"
          name="username"
          required
          maxlength="50"
          [formControl]="username"
          placeholder="Enter a username"
        />
        <mat-error *ngIf="username.invalid">{{getErrorMessageUsername()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label> <label class="validation">* </label>Password:</label>
        <input
          matInput
          [(ngModel)]="tenantModel.password"
          name="password"
          required
          maxlength="50"
          [type]="hide ? 'password' : 'text'"
          [formControl]="password"
          placeholder="Enter a password"
        />
        <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label> <label class="validation">* </label>Email:</label>
        <input
          matInput
          [(ngModel)]="tenantModel.email"
          name="email"
          required
          maxlength="50"
          [formControl]="email"
          placeholder="Enter an email address"
        />
        <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <label> <label class="validation">* </label>Name:</label>
        <input
          matInput
          [(ngModel)]="tenantModel.name"
          name="name"
          required
          maxlength="50"
          [formControl]="name"
          placeholder="Enter a name"
        />
        <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label> <label class="validation">* </label>Surname:</label>
        <input
          matInput
          [(ngModel)]="tenantModel.surname"
          name="surname"
          required
          maxlength="50"
          [formControl]="surname"
          placeholder="Enter a surname"
        />
        <mat-error *ngIf="surname.invalid">{{getErrorMessageSurname()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label> <label class="validation">* </label>Personal Number:</label>
        <input
          matInput
          [(ngModel)]="tenantModel.phoneNumber"
          name="phoneNumber"
          required
          maxlength="10"
          minlength="10"
          [formControl]="phoneNumber"
          placeholder="Enter a phone number"
        />
        <mat-error *ngIf="phoneNumber.invalid">{{getErrorMessagePhoneNumber()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label> <label class="validation">* </label>Company Name:</label>
        <input
          matInput
          [(ngModel)]="tenantModel.companyName"
          name="companyName"
          required
          maxlength="50"
          [formControl]="companyName"
          placeholder="Enter a company name"
        />
        <mat-error *ngIf="companyName.invalid">{{getErrorMessageCompanyName()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label> <label class="validation">* </label>Company Number: </label>
        <input
          matInput
          [(ngModel)]="tenantModel.companyNumber"
          name="companyNumber"
          required
          maxlength="10"
          minlength="10"
          [formControl]="companyNumber"
          placeholder="Enter a company number"
        />
        <mat-error *ngIf="companyName.invalid">{{getErrorMessageCompanyNumber()}}</mat-error>
      </mat-form-field>
    
      <div class="modal-actions">
        <button mat-raised-button type="submit" color="accent" (click)="closeModal()">
          Create Tenant
        </button>
        <button mat-raised-button color="warn" (click)="closeModal()" class="cancel">Cancel</button>
      </div>