<div class="modal-overlay">
  <div class="modal-container">
    <h2>Add New Tenant <button mat-button color="warn" class="cancel" (click)="closeModal()">X</button></h2>
    <form (submit)="CreateTenant()">
      <mat-form-field class="form-field">
        <label>Username:</label>
        <input
          matInput
          [(ngModel)]="tenantModel.username"
          name="username"
          required
          maxlength="50"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Password:</label>
        <input
          matInput
          [(ngModel)]="tenantModel.password"
          name="password"
          required
          minlength="12"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Email:</label>
        <input
          matInput
          [(ngModel)]="tenantModel.email"
          name="email"
          required
          maxlength="50"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Name:</label>
        <input
          matInput
          [(ngModel)]="tenantModel.name"
          name="name"
          required
          maxlength="50"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Surname:</label>
        <input
          matInput
          [(ngModel)]="tenantModel.surname"
          name="surname"
          required
          maxlength="50"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Personal Number:</label>
        <input
          matInput
          [(ngModel)]="tenantModel.phoneNumber"
          name="phoneNumber"
          required
          maxlength="10"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Company Name:</label>
        <input
          matInput
          [(ngModel)]="tenantModel.companyName"
          name="companyName"
          required
          maxlength="50"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Company Number: </label>
        <input
          matInput
          [(ngModel)]="tenantModel.companyNumber"
          name="companyNumber"
          required
          maxlength="10"
        />
      </mat-form-field>
            <div class="modal-actions">

        <button mat-raised-button type="submit" color="accent" (click)="closeModal()">
          Create Tenant
        </button>
        <button mat-raised-button color="warn" (click)="closeModal()" class="cancel">Cancel</button>

      </div>
