<h1>Contractors</h1>  

<div class="container">
  <div class="card"><a [routerLink]="'/viewContractors'">
      <div class="circle">
          <h4>View 
              <br><br>
              Contractors</h4>
      </div>
      <div class="content">
          <p>
            All the contractors created for the system can be viewed. The rest of the information that we need to establish.
            <br>
            Click on the card will take the user to the view all contractors page.
          </p>
      </div>
  </a></div>

  <div class="card"><a  [routerLink]="'/generateContractors'">
      <div class="circle">
          <h4>Contractors 
            <br> <br>
            Report</h4>
      </div>
      <div class="content">
          <p>
            Generate Contractor Report. The rest of the information that we need to establish.
            <br> <br>
            Click on the card will take the user to print a contractor report.
          </p>
      </div>
  </a></div>

  <div class="card"><a  [routerLink]="'/contractorTree'">
      <div class="circle">
          <h4>Contractor 
            <br> <br>
            Hierarchy</h4>
      </div>
      <div class="content">
          <p>
            All the contractors created for the system can be viewed in a hierarchy. The rest of the information that we need to establish.
            <br>
            Click on the card will take the user to the contractor hierarchy.
          </p>
      </div>
  </a></div>
</div>

<!--<mat-grid-list cols="2">
  <div class="cards"> 
    <mat-card class="contractorCard">
      <mat-card-header>
      <mat-card-title>View Contractors</mat-card-title>
        <mat-card-subtitle>View all the contractors on the system</mat-card-subtitle>
      </mat-card-header>
        <mat-icon class="icon">engineering</mat-icon>
      <mat-card-content>
        <p>All the contractors created for the system can be viewed. The rest of the information that we need to establish.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><a mat-list-item [routerLink]="'/viewContractors'">VIEW CONTRACTORS</a></button>
      </mat-card-actions>
      </mat-card>
  </div>
  <br>
  <div class="cards"> 
    <mat-card class="reportCard">
      <mat-card-header>
        <mat-card-title>Generate Tenant Reports</mat-card-title>
        <mat-card-subtitle>Generate tenant report</mat-card-subtitle>
      </mat-card-header>
      <mat-icon class="icon">summarize</mat-icon>
      <mat-card-content>
      <p>
        Generate Contractor Report. The rest of the information that we need to establish.
      </p>
      </mat-card-content>
    <mat-card-actions>
      <button mat-button><a mat-list-item [routerLink]="'/generateContractors'">CONTRACTORS REPORTS</a></button>
    </mat-card-actions>
  </mat-card>
  </div>
  <br>
  <div class="cards"> 
    <mat-card class="contractorCard">
      <mat-card-header>
      <mat-card-title>Contractors Hierarchy</mat-card-title>
        <mat-card-subtitle>View all the contractors on the system in a hierarchy</mat-card-subtitle>
      </mat-card-header>
        <mat-icon class="icon">nature</mat-icon>
      <mat-card-content>
        <p>All the contractors created for the system can be viewed in a hierarchy. The rest of the information that we need to establish.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><a mat-list-item [routerLink]="'/contractorTree'">VIEW CONTRACTORS</a></button>
      </mat-card-actions>
      </mat-card>
  </div>-->