<h1>{{propertyDetail.description}}</h1>

<button mat-button [routerLink]="['/viewAllProperties']">
  <mat-icon>home</mat-icon>
  Return
</button>
<br>

<ngx-slick-carousel class="carousel-container" [config]="slideConfig">
  <div ngxSlickItem *ngFor="let image of propertyDetail.propertyImage" class="slide">
    <img [src]="getImageUrl(image.imageData)" class="image" alt="Property Image" width="100%">
  </div>
</ngx-slick-carousel>

<br>
<br>

<button mat-raised-button color="accent" (click)="openAddImageModal()">ADD IMAGE</button>

<div class="container">
<div class="card">
  <div class="left">
            <div class="details">
              <h2>Property</h2>
            <h5>Address: {{propertyDetail.buildingNumber}} {{propertyDetail.street}}, {{propertyDetail.suburb}}</h5>
            <h5>Property Size: {{propertyDetail.size}}m<sup>2</sup></h5>
            <h5>Yard Area: {{propertyDetail.yard}}m<sup>2</sup></h5>
            <h5>Purchase Amount: R {{propertyDetail.purchaseAmount}}</h5>
            <h5>Purchase Year: {{propertyDetail.purchaseYear}}</h5>
<br>
            <div class="buttons">
                <button mat-raised-button color="primary">UPDATE</button>
            </div>

    </div>
  </div>
</div>
<div class="card">
  <div class="right">
    <div class="details">
      <h2>Broker</h2>
    <h4>{{propertyDetail.broker.name}} {{propertyDetail.broker.surname}}</h4>
    <h5>Phone Number: {{propertyDetail.broker.phoneNumber}}</h5>
    <h5>Office Address: {{propertyDetail.broker.officeAddress}}</h5>
    <h5>Commission Paid: R {{propertyDetail.broker.commissionRate * propertyDetail.purchaseAmount}}</h5>
    <div class="buttons">
      <button mat-raised-button color="primary" [routerLink]="['/viewBrokerDetails', propertyDetail.broker.brokerID]">View Broker</button>
    </div>
  </div>
</div>
</div>
</div>
<div class="container">
 <!-- Display Recoveries -->
 <div class="card">
  <div class="details">
    <h2>Recoveries</h2>
    <div *ngFor="let recovery of recoveries">
      <h5>Recovery Description: {{ recovery.recoveryDescription }}</h5>
      <h5>Recovery Amount: R {{ recovery.recoveryAmount }}</h5>
<h5>Recovery Type: {{ recovery.recoveryType.recoveryTypeDescription }} </h5>
      <mat-divider></mat-divider>
    </div>
    <div class="buttons">
      <button mat-raised-button color="accent" (click)="openAddRecoveriesModal()">Add Recovery</button>
  </div>
  </div>
</div>

<!-- Display Inspections -->
<div class="card">
  <div class="details">
    <h2>Inspections</h2>
    <div *ngFor="let inspection of inspections">
      <h4>{{ inspection.inspectionDescription }}</h4>
      <h5>Inspection Date: {{ inspection.inspectionDate | date }}</h5>
      <h5>Inspection Time: {{ inspection.inspectionTime }}</h5>
      <h5>Inspection Type: {{inspection.inspectionType.inspectionTypeName}}</h5>
      <h5>Inspection Status: {{inspection.inspectionStatus.inspectionStatusName}}</h5>
      <div>
        <button class="updateButtons">Update Inspection</button>
        <mat-divider></mat-divider>
    </div>
    <br>
    </div>
    <div class="buttons">
      <button mat-raised-button color="accent" (click)="openAddInspectionModal()">Add Inspection</button>
  </div>
  </div>
</div>
</div>

