<div class="modal-overlay">
  <div class="modal-container">
    <h2>Add New Inspection <button mat-button color="warn" class="cancel" (click)="closeModal()">X</button></h2>
    <form (submit)="AddInspection()">
      <mat-form-field class="form-field">
        <label>Description:</label>
        <input
          matInput
          [(ngModel)]="inspectionModal.inspectionDescription"
          name="inspectionDescription"
          required
          maxlength="50"
          [formControl]="inspectionDescription"
        />
        <mat-error *ngIf="inspectionDescription.invalid">{{getErrorMessageDescription()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <label>Date</label>
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="inspectionModal.inspectionDate"
          name="inspectionDate"
          required
          (click)="picker.open()"
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="inspectionDate.invalid">{{ getErrorMessageDate() }}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <label>Time:</label>
        <input
        placeholder="00:00"
          matInput
          [(ngModel)]="inspectionModal.inspectionTime"
          name="inspectionTime"
          required
        />
        <mat-error *ngIf="inspectionTime.invalid">{{ getErrorMessageTime() }}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <label>Type:</label>
        <mat-select [(ngModel)]="selectedInspectionType" name="inspectionType" (selectionChange)="updateSelectedInspectionType($event.value)">
          <mat-option *ngFor="let inspectionType of inspectionTypes" [value]="inspectionType">{{ inspectionType.inspectionTypeName }}</mat-option>
          <mat-option value="createNew">Create New</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field" *ngIf="selectedInspectionType === 'createNew'">
        <label>New Inspection Type:</label>
        <input matInput [(ngModel)]="newInspectionTypeName" name="newInspectionTypeName" required />
        <mat-error *ngIf="!newInspectionTypeName">New Inspection Type is required</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <label>Status:</label>
        <mat-select [(ngModel)]="inspectionModal.inspectionStatusID" name="inspectionStatus">
          <mat-option *ngFor="let inspectionStatus of inspectionStatuses" [value]="inspectionStatus.inspectionStatusID">{{ inspectionStatus.inspectionStatusName }}</mat-option>
        </mat-select>
      </mat-form-field>


      <div class="modal-actions">

        <button mat-raised-button type="submit" color="accent" (click)="sendToBackend()">
          Add Inspection
        </button>
        <button mat-raised-button color="warn" (click)="closeModal()" class="cancel">Cancel</button>

      </div>
    </form>
  </div>
</div>
