<div class="modal-overlay">
  <div class="modal-container">
    <h2>Create User <button mat-button color="warn" class="cancel" (click)="closeModal()">X</button></h2>
    <form (submit)="CreateNewUser()">
      <mat-form-field class="form-field">
        <label> <label class="validation">* </label>Name:</label>
        <input
          matInput
          [(ngModel)]="userModal.Name"
          name="Name"
          placeholder="Enter a name"
          required
          maxlength="50"
          [formControl]="name"
        />
        <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <label><label class="validation">* </label>Username:</label>
        <input
          matInput
          [(ngModel)]="userModal.Username"
          name="Username"
          placeholder="Enter a username"
          required
          maxlength="50"
          [formControl]="username"
        />
        <mat-error *ngIf="username.invalid">{{getErrorMessageUsername()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <label><label class="validation">* </label>Email:</label>
        <input
          matInput
          [(ngModel)]="userModal.Email"
          name="Email"
          placeholder="Enter an email address"
          required
          maxlength="50"
          [formControl]="email"
        />
        <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <label><label class="validation">* </label>User Role:</label>
        <mat-select [(ngModel)]="userModal.userRole" name="userRole"  placeholder="Select user type" required>
          <mat-option *ngFor="let item of RoleList" [value]="item.name">
            {{ item.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="userRole.invalid">Please select a user role.</mat-error>
      </mat-form-field>

      <div class="modal-actions">
        <button mat-raised-button type="submit" color="accent">
          Create User
        </button>
        <button mat-raised-button color="warn" (click)="closeModal()" class="cancel">Cancel</button>
      </div>
    </form>
  </div>
</div>

