<div class="modal-overlay">
  <div class="modal-container">
    <h2>Add New Tenant <button mat-button color="warn" class="cancel" (click)="closeModal()">X</button></h2>
    <form (submit)="CreateTenant()">
      <mat-form-field class="form-field">
        <label>Username:</label>
        <input
          matInput
          [(ngModel)]="userModel.username"
          name="username"
          required
          maxlength="50"
          [formControl]="username"
        />
        <mat-error *ngIf="username.invalid">{{getErrorMessageUsername()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Password:</label>
        <input
          matInput
          [(ngModel)]="userModel.password"
          name="password"
          required
          maxlength="50"
          [type]="hide ? 'password' : 'text'"
          [formControl]="password"
        />
        <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Email:</label>
        <input
          matInput
          [(ngModel)]="userModel.email"
          name="email"
          required
          maxlength="50"
          [formControl]="email"
        />
        <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <label>Name:</label>
        <input
          matInput
          [(ngModel)]="userModel.name"
          name="name"
          required
          maxlength="50"
          [formControl]="name"
        />
        <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Surname:</label>
        <input
          matInput
          [(ngModel)]="userModel.surname"
          name="surname"
          required
          maxlength="50"
          [formControl]="surname"
        />
        <mat-error *ngIf="surname.invalid">{{getErrorMessageSurname()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>Personal Number:</label>
        <input
          matInput
          [(ngModel)]="userModel.phoneNumber"
          name="phoneNumber"
          required
          maxlength="10"
          minlength="10"
          [formControl]="phoneNumber"
        />
        <mat-error *ngIf="phoneNumber.invalid">{{getErrorMessagePhoneNumber()}}</mat-error>
      </mat-form-field>
    
      <div class="modal-actions">
        <button mat-raised-button type="submit" color="accent" (click)="closeModal()">
          Create User
        </button>
        <button mat-raised-button color="warn" (click)="closeModal()" class="cancel">Cancel</button>
      </div>
  <!-- <h1 mat-dialog-title>Create User <button mat-button color="warn" class="cancel" (click)="closeModal()">X</button></h1>
  <div mat-dialog-content>
      <h3>Please enter all required details to create a new user!</h3>
      <mat-form-field class="form">
          <h3>Email:</h3>
          <input
              matInput
              placeholder="Email"
              [(ngModel)]="userModal.email"
              name="email"
              required
            />
      </mat-form-field>
      <br>
      <mat-form-field class="form">
          <h3>User Role:</h3>
          <mat-form-field class="form-field">
            <mat-select [(ngModel)]="userModal.userRole" required="">
              <mat-option value="Admin">Admin</mat-option>
              <mat-option value="Contractor">Contractor</mat-option>
              <mat-option value="Tenant">Tenant</mat-option>
              <mat-option value="Employee">Employee</mat-option>
          </mat-select>
      </mat-form-field>
    </mat-form-field>
  </div>
  <div class="end">
      <button mat-raised-button color="accent" (click)="CreateUser()">Create</button>
      <button mat-raised-button color="warn" class="cancel" (click)="closeModal()">Cancel</button>
  </div> -->
