<div class="modal-overlay">
  <div class="modal-container">
    <h2>Add Maintenance Type</h2>
    <form (submit)="AddMaintenanceType(date.value)">
      <mat-form-field class="form-field">
        <label>Property</label>
        <mat-select placeholder="Select Property" name="propertyID" (selectionChange)="updatePropertyId($event.value)" required>
          <mat-option *ngFor="let prop of Property" [value]="prop.propertyID">{{ prop.description }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field">
        <label>Select Contractor</label>
        <mat-select placeholder="Select Contractor" formControlName="ContractorId" (selectionChange)="updateContractorId($event.value)" required>
          <mat-option *ngFor="let contractor of Contractor" [value]="contractor.contractorID">{{ contractor.areaOfBusiness }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field">
        <label>Status</label>
        <mat-select placeholder="Select Status" name="maintenanceStatusID" (selectionChange)="updateMaintenanceStatusId($event.value)" required>
          <mat-option *ngFor="let stat of Status" [value]="stat.maintenanceStatusID">{{ stat.maintenanceStatusName }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field">
        <label>Type</label>
        <mat-select placeholder="Select Type" name="maintenanceTypeID" (selectionChange)="updateMaintenanceTypeId($event.value)" required>
          <mat-option *ngFor="let type of Type" [value]="type.maintenanceTypeID">{{ type.maintenanceTypeName }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <label>Date</label>
        <input matInput [matDatepicker]="picker" #date placeholder="Choose a date" formControlName="selectedDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="form-field">
        <label>Time</label>
        <mat-select placeholder="Select Time" (selectionChange)="updateMaintenanceTime($event.value)" required>
          <mat-option *ngFor="let prop of time" [value]="prop">{{ prop }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="modal-actions">
        <button mat-button type="button" color="danger" (click)="closeModal()">Cancel</button>
        <button mat-raised-button type="submit" color="primary">
          Add
        </button>
      </div>
    </form>
  </div>
</div>
