<div class="modal-overlay">
    <div class="modal-container">
      <h2>Add Maintenance Type</h2>
      <form (submit)="AddMaintenanceType()">
        <mat-form-field class="form-field">
            <input
              matInput
              placeholder="Property ID"
              name="propertyID"
              #propertyID
              (keyup)="updatePropertyId(propertyID.value)"
              required
            />
          </mat-form-field>
          <mat-form-field class="form-field">
            <input
              matInput
              placeholder="Employee ID"
              name="employeeID"
              #employeeID
              (keyup)="updateEmployeeId(employeeID.value)"
              required
            />
          </mat-form-field>
          <mat-form-field class="form-field">
            <input
              matInput
              placeholder="contractorID"
              name="contractorID"
              #contractorID
              (keyup)="updateContractorId(contractorID.value)"
              required
            />
          </mat-form-field>
          <mat-form-field class="form-field">
            <input
              matInput
              placeholder="maintenanceStatusID"
              name="maintenanceStatusID"
              #maintenanceStatusID
              (keyup)="updateMaintenanceStatusId(maintenanceStatusID.value)"
              required
            />
          </mat-form-field>
          <mat-form-field class="form-field">
            <input
              matInput
              placeholder="maintenanceTypeID"
              name="maintenanceTypeID"
              #maintenanceTypeID
              (keyup)="updateMaintenanceTypeId(maintenanceTypeID.value)"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <input matInput [matDatepicker]="picker" #date placeholder="Choose a date" formControlName="selectedDate" 
            (change)="updateDate(date.value)"
            >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        <div class="modal-actions">
          <button mat-button type="button" (click)="closeModal()">Cancel</button>
          <button mat-raised-button type="submit" color="primary">
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
  