<div class="modal-overlay">
    <div class="modal-container update-tenant-modal">
      <h2 class="modal-title">Update Broker <button mat-button color="warn" class="cancel" (click)="closeModal()">X</button></h2>

      <form (submit)="updateBroker()">
        <!-- Name -->
        <mat-form-field class="form-field">
          <label>Name:</label>
          <input
          matInput
          [(ngModel)]="brokerData.name"
          name="brokerName"
          required
          maxlength="50"
        />
      </mat-form-field>

        <!-- Surname -->
        <mat-form-field class="form-field">
          <label>Surname:</label>
          <input
          matInput
          [(ngModel)]="brokerData.surname"
          name="brokerSurname"
          required
          maxlength="50"
        />
      </mat-form-field>
        <!-- Phone Number -->
        <mat-form-field class="form-field">
          <label>Phone Number:</label>
          <input
          matInput
          [(ngModel)]="brokerData.phoneNumber"
          name="brokerPhoneNumber"
          required
          maxlength="50"
        />
      </mat-form-field>

         <!-- Office Address -->
         <mat-form-field class="form-field">
          <label>Office Address:</label>
          <input
          matInput
          [(ngModel)]="brokerData.officeAddress"
          name="brokerOfficeAddress"
          required
          maxlength="50"
        />
      </mat-form-field>


         <!-- License Number -->
         <mat-form-field class="form-field">
          <label>License Number:</label>
          <input
          matInput
          [(ngModel)]="brokerData.licenseNumber"
          name="brokerLicenseNumber"
        />
      </mat-form-field>


        <!-- Commission Rate -->
        <mat-form-field class="form-field">
          <label>Commission Rate:</label>
          <input
          matInput
          [(ngModel)]="brokerData.commissionRate"
          name="brokerCommissionRate"
          required
          maxlength="50"
        />
      </mat-form-field>

        <br>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-accent" -[disabled]="updateForm.invalid" mat-raised-button color="accent">Update Broker</button>
        <button type="button" (click)="closeModal()" class="btn btn-secondary cancel"  mat-raised-button color="warn">Cancel</button>
      </form>
    </div>
  </div>
  