<body>
  <div class="login-page">
    <div class="form">
      <h1>Welcome To PropNote</h1>
      <mat-icon>vpn_key</mat-icon><h2>Please Sign In</h2>
      <form class="login-form">
        <mat-card-content class="LoginCard">
          <form [formGroup]="LoginForm" (ngSubmit)="Login()">
            <label for="userName">Username:</label>
            <input
              mat-input
              type="text"
              id="userName"
              formControlName="userName"
            />
            <div
              *ngIf="
                LoginForm.get('userName').hasError('required') &&
                LoginForm.get('userName').touched
              "
            >
              Username is required.
            </div>

            <label for="password">Password:</label>
            <input
              mat-input
              type="password"
              id="password"
              formControlName="password"
            />
            <div
              *ngIf="
                LoginForm.get('password').hasError('required') &&
                LoginForm.get('password').touched
              "
            >
              Password is required.
            </div>

            <button mat-raised-button type="submit">Login</button>
          </form>
        </mat-card-content>
      </form>
    </div>
  </div>
</body>
