<div class="modal-overlay">
  <div class="modal-container">
    <h2>Add New Inspection <button mat-button color="warn" class="cancel" (click)="closeModal()">X</button></h2>
    <form (submit)="AddRecovery()">
      <mat-form-field class="form-field">
        <label>Description:</label>
        <input
          matInput
          [(ngModel)]="recoveryModal.recoveryDescription"
          name="description"
          required
          maxlength="50"
          [formControl]="recoveryDescription"
        />
        <mat-error *ngIf="recoveryDescription.invalid">{{getErrorMessageDescription()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <label>Amount:</label>
        <input
          matInput
          [(ngModel)]="recoveryModal.recoveryAmount"
          name="recoveryAmount"
          required
        />
        <mat-error *ngIf="recoveryAmount.invalid">{{ getErrorMessageAmount() }}</mat-error>
      </mat-form-field>


      <mat-form-field class="form-field">
        <label>Type:</label>
        <mat-select [(ngModel)]="recoveryModal.recoveryType" name="recoveryType" (selectionChange)="updateSelectedRecoveryType($event.value)">
          <mat-option *ngFor="let recoveryType of recoveryTypes" [value]="recoveryType">{{ recoveryType.recoveryTypeDescription }}</mat-option>
        </mat-select>
      </mat-form-field>


      <div class="modal-actions">

        <button mat-raised-button type="submit" color="accent" (click)="sendToBackend()">
          Add Property
        </button>
        <button mat-raised-button color="warn" (click)="closeModal()" class="cancel">Cancel</button>

      </div>
    </form>
  </div>
</div>
