<div class="modal-overlay">
    <div class="modal-container">
      <h2>Edit Payment</h2>
      <form >
        <mat-form-field class="form-field">
          Amount
          <input
            matInput
            name="amount"
            #amount
            (keyup)="updateAmount(amount.value)"
            [formControl]="amountFormControl"
          />
          <mat-error *ngIf="amountFormControl.hasError('required')">
            Amount is required.
          </mat-error>
          <mat-error *ngIf="amountFormControl.hasError('pattern')">
            Amount must be a valid number.
          </mat-error>
          <mat-error *ngIf="amountFormControl.hasError('max')">
            Amount cannot exceed 999,999.
          </mat-error>
        </mat-form-field>
        <div class="end">
          <button mat-raised-button  color="accent" (click)="EditPayment()">Update</button>
          <button mat-raised-button mat-dialog-close cdkFocusInitialcolor color="warn" class="cancel" (click)="closeModal()">Cancel</button>
      </div>
      </form>
    </div>
  </div>
  