<h1>Settings</h1>

<mat-tab-group>
  <mat-tab label="General Settings"> 
    <br>
    <mat-card>
      <mat-card-title>Date and Time</mat-card-title>
      <mat-card-subtitle>Date Format:</mat-card-subtitle>
      <mat-card-content>Radio buttons</mat-card-content>
      <mat-card-subtitle>Time Format:</mat-card-subtitle>
      <mat-card-content>Radio buttons</mat-card-content>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title>Site Language</mat-card-title>
      <mat-card-subtitle>Change the language of the website</mat-card-subtitle>
      <mat-card-content>Drop down</mat-card-content>
    </mat-card>
   <br> 
    <mat-card>
      <mat-card-title>Theme</mat-card-title>
      <mat-card-subtitle>Change the theme of the system.</mat-card-subtitle>
      <mat-card-content>
        <button mat-raised-button color="accent">SWITCH</button>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Troubelshooting and Support"> 
    <br>
    <mat-card>
      <mat-card-title>Help</mat-card-title>
      <mat-card-subtitle>Language</mat-card-subtitle>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title>Supporting Contacts</mat-card-title>
      <mat-card-subtitle>Language</mat-card-subtitle>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title>Error Reporting</mat-card-title>
      <mat-card-subtitle>Language</mat-card-subtitle>
    </mat-card>
  </mat-tab>
</mat-tab-group>