<h1>Settings</h1>

<mat-tab-group>
  <mat-tab label="General Settings"> 
    <br>
    <mat-card>
      <mat-card-title>Language</mat-card-title>
      <mat-card-subtitle>Change the language of the system.</mat-card-subtitle>
      <mat-card-content>Current language:</mat-card-content>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title>Date and Time</mat-card-title>
      <mat-card-subtitle>Change the date and time of the system.</mat-card-subtitle>
      <mat-card-content>Current language:</mat-card-content>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title>Theme</mat-card-title>
      <mat-card-subtitle>Change the theme of the system.</mat-card-subtitle>
    </mat-card>
  </mat-tab>

  <mat-tab label="Troubelshooting and Support"> 
    <br>
    <mat-card>
      <mat-card-title>Help</mat-card-title>
      <mat-card-subtitle>Language</mat-card-subtitle>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title>Supporting Contacts</mat-card-title>
      <mat-card-subtitle>Language</mat-card-subtitle>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title>Error Reporting</mat-card-title>
      <mat-card-subtitle>Language</mat-card-subtitle>
    </mat-card>
  </mat-tab>
</mat-tab-group>