<div class="modal-overlay">
    <div class="modal-container">
      <h2>Edit Maintenance</h2>
        <form (submit)="AddMaintenanceType()" [formGroup]="MainForm" >
          <mat-form-field class="form-field">
            <mat-label>Property</mat-label>  
            <mat-select placeholder="Select Property" formControlName="PropertyId" required>
                <mat-option *ngFor="let prop of Property" [value]="prop.propertyID">{{ prop.description }}</mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class="form-field">
              <mat-label>Contractor</mat-label>
              <mat-select placeholder="Select Contractor" formControlName="ContractorId" required>
                <mat-option *ngFor="let contractor of Contractor" [value]="contractor.contractorID">{{ contractor.areaOfBusiness }}</mat-option>
                </mat-select> 
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>Status</mat-label>
              <mat-select placeholder="Select Status" formControlName="StatusId" required>
                <mat-option *ngFor="let stat of Status" [value]="stat.maintenanceStatusID">{{ stat.maintenanceStatusName }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>Type</mat-label>
              <mat-select placeholder="Select Type" formControlName="TypeId" required>
                <mat-option *ngFor="let type of Type" [value]="type.maintenanceTypeID">{{ type.maintenanceTypeName }}</mat-option>
                </mat-select> 
            </mat-form-field>
            <mat-form-field>
              <label>End Date:</label>
        <input
          matInput
          [matDatepicker]="endDatePicker"
          formControlName="endDate"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
  
          <div class="modal-actions">
            <button mat-button type="button" color="danger" (click)="closeModal()">Cancel</button>
            <button mat-raised-button type="submit" color="primary" >
              Update
            </button>
          </div>
        </form>
    </div>
  </div>

 