<div class="modal-overlay">
    <div class="modal-container">
      <h2>Edit Maintenance Status</h2>
      <form (submit)="EditMaintenanceStatus()">
        <mat-form-field class="form-field">
            <mat-label>Status Name</mat-label>
            <input
              matInput
              name="maintenaceStatusName"
              #maintenaceStatusName
              (keyup)="updateName(maintenaceStatusName.value)"
              [formControl]="nameFormControl"
            />
            <mat-error *ngIf="nameFormControl.hasError('required')">
                Maintenance Status Name is required.
              </mat-error>
              <mat-error *ngIf="nameFormControl.hasError('pattern')">
                Maintenance Status Name must contain only alphabets and spaces.
              </mat-error>
              <mat-error *ngIf="nameFormControl.hasError('maxlength')">
                Maintenance Status Name cannot exceed 32 characters.
              </mat-error>
          </mat-form-field>
        <div class="modal-actions">
          <button mat-button type="button" color="danger" (click)="closeModal()">Cancel</button>
          <button mat-raised-button type="submit" color="primary" [disabled]="nameFormControl.invalid">
            Edit
          </button>
        </div>
      </form>
    </div>
  </div>
  