<div class="modal-overlay">
  <div class="modal-container update-tenant-modal">
    <h2 class="modal-title">Update Contractor <button mat-button color="warn" class="cancel" (click)="closeModal()">X</button></h2>

    <form [formGroup]="updateForm" (ngSubmit)="updateContractor()">
      <!-- Email -->
      <mat-form-field class="form-field">
        <label for="email">Email:</label>
        <input type="email" id="email" matInput formControlName="email" required [value]="updateForm.get('email')?.value || ''" />
        <mat-error *ngIf="updateForm.get('email')?.invalid && (updateForm.get('email')?.dirty || updateForm.get('email')?.touched)">
          Invalid email address
        </mat-error>
      </mat-form-field>

      <!-- Name -->
      <mat-form-field class="form-field">
        <label for="name">Name:</label>
        <input type="text" id="name" matInput formControlName="name" required [value]="updateForm.get('name')?.value || ''" />
      </mat-form-field>

      <!-- Surname -->
      <mat-form-field class="form-field">
        <label for="surname">Surname:</label>
        <input type="text" id="surname" matInput formControlName="surname" required [value]="updateForm.get('surname')?.value || ''" />
      </mat-form-field>

      <!-- Phone Number -->
      <mat-form-field class="form-field">
        <label for="phoneNumber">Phone Number:</label>
        <input type="tel" id="phoneNumber" matInput formControlName="phoneNumber" required [value]="updateForm.get('phoneNumber')?.value || ''" />
      </mat-form-field>

      <!-- Area of Business -->
      <mat-form-field class="form-field">
        <label for="areaOfBusiness">Area Of Business:</label>
        <input type="text" id="areaOfBusiness" matInput formControlName="areaOfBusiness" required [value]="updateForm.get('areaOfBusiness')?.value || ''" />
      </mat-form-field>

      <!-- Availability -->
      <mat-form-field class="form-field">
        <label for="availability">Availability:</label>
        <input type="text" id="availability" matInput formControlName="availability" required [value]="updateForm.get('availability')?.value || ''" />
      </mat-form-field>

      <!-- Contractor Type -->
      <mat-form-field class="form-field">
        <label for="contractorType">Contractor Type:</label> 
        <input type="text" id="contractorType" matInput formControlName="contractorType" required [value]="updateForm.get('contractorType')?.value || ''" />
      </mat-form-field>


      <br>
      <!-- Submit Button -->
      <button type="submit" [disabled]="updateForm.invalid" class="btn btn-primary" mat-raised-button color="primary">Update Contractor</button>
      <button type="button" (click)="closeModal()" class="btn btn-secondary cancel" mat-raised-button color="warn">Cancel</button>
    </form>
  </div>
</div>


<!--<div class="modal-overlay">
    <div class="modal-container">
      <h2>Add New Contractor <button mat-button color="warn" class="cancel" (click)="closeModal()">X</button></h2>
      <form (submit)="CreateContractor()">
        <mat-form-field class="form-field">
          <label>Username:</label>
          <input
            matInput
            [(ngModel)]="contractorModel.username"
            name="username"
            required
            maxlength="50"
            [formControl]="username"
          />
          <mat-error *ngIf="username.invalid">{{getErrorMessageUsername()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
          <label>Password:</label>
          <input
            matInput
            [(ngModel)]="contractorModel.password"
            name="password"
            required
            maxlength="50"
            [type]="hide ? 'password' : 'text'"
            [formControl]="password"
          />
          <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="form-field">
          <label>Email:</label>
          <input
            matInput
            [(ngModel)]="contractorModel.email"
            name="email"
            required
            maxlength="50"
            [formControl]="email"
          />
          <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
          <label>Name:</label>
          <input
            matInput
            [(ngModel)]="contractorModel.name"
            name="name"
            required
            maxlength="50"
            [formControl]="name"
          />
          <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
          <label>Surname:</label>
          <input
            matInput
            [(ngModel)]="contractorModel.surname"
            name="surname"
            required
            maxlength="50"
            [formControl]="surname"
          />
          <mat-error *ngIf="surname.invalid">{{getErrorMessageSurname()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
          <label>Personal Number:</label>
          <input
            matInput
            [(ngModel)]="contractorModel.phoneNumber"
            name="phoneNumber"
            required
            maxlength="10"
            minlength="10"
            [formControl]="phoneNumber"
          />
          <mat-error *ngIf="phoneNumber.invalid">{{getErrorMessagePhoneNumber()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
          <label>Area Of Business:</label>
          <input
            matInput
            [(ngModel)]="contractorModel.areaOfBusiness"
            name="areaOfBusiness"
            required
            maxlength="50"
            [formControl]="areaBusiness"
          />
          <mat-error *ngIf="areaBusiness.invalid">{{getErrorMessageAreaBusiness()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
          <label>Availability: </label>
          <input
            matInput
            [(ngModel)]="contractorModel.availability"
            name="availability"
            required
            maxlength="50"
            [formControl]="availability"
          />
          <mat-error *ngIf="availability.invalid">{{getErrorMessageAvailability()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
          <label>Contractor Type:</label>
          <mat-select [(ngModel)]="contractorModel.contractorType" name="contractorType" (selectionChange)="updateSelectedContractorType($event.value)">
            <mat-option *ngFor="let contractorType of contractorTypes" [value]="contractorType">{{ contractorType.contractorTypeName }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <div class="modal-actions">
          <button mat-raised-button type="submit" color="accent" (click)="sendToBackend()">
            Add Contractor
          </button>
          <button mat-raised-button color="warn" (click)="closeModal()" class="cancel">Cancel</button>
        </div>-->
    