<!-- <p>this opens!</p>

 
<div mat-dialog-content>
      <mat-form-field >
        <mat-label>Name</mat-label>
        <input  type="text" name="newuserName" id="newuserName" class="form-control" required>
      </mat-form-field><br>
    
      <mat-form-field >
        <mat-label>Email</mat-label>
        <input  type="text" name="email" id="email" class="form-control" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required>
      </mat-form-field><br>
    
      <mat-form-field >
        <mat-label>Phone</mat-label>
        <input  type="text" name="phone" id="phone" class="form-control" required>
      </mat-form-field><br>
    
      <mat-form-field >
        <mat-label>Amount</mat-label>
        <input type="text" name="amount" id="amount" class="form-control"required>
      </mat-form-field><br>
      
    
    <p>
      <button mat-raised-button color="primary"> submit</button>
    </p>
</div> -->



<h1 mat-dialog-title>Add Broker <button mat-button color="warn" class="cancel" >X</button></h1>
<div mat-dialog-content>
    <h3>Please enter all required details to add a new broker!</h3>
    <mat-form-field class="form">
        <h3>Name</h3>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="form">
        <h3>Surname:</h3>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="form">
        <h3>Phone Number</h3>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="form">
        <h3>Email</h3>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="form">
        <h3>Photo</h3>
        <input matInput>
    </mat-form-field>
    <br>
</div>
<div class="end">
    <button mat-fab extended color="accent" >Create</button>
    <button mat-fab extended color="warn" class="cancel">Cancel</button>
</div>