<!--not this one -->
<div class="container" *ngIf="incomingData && incomingData.action !== 'delete'">
  <div class="row form-title">
      <h1 mat-dialog-title>Add Broker <button mat-button color="warn" class="cancel" (click)="cancelDelete()">X</button></h1>
  </div>
  <div >
      <form class="example-form" [formGroup]="addUserForm!" (ngSubmit)="addUser()">
          
          <mat-form-field class="form">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName">
          </mat-form-field>
          <mat-form-field class="form">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName">
          </mat-form-field>
          <mat-form-field class="form">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
          </mat-form-field>
          <mat-form-field class="form">
              <mat-label>Contact</mat-label>
              <input matInput formControlName="contact">
          </mat-form-field>
          <div class="end">
              <button mat-raised-button color="warn" class="cancel-btn" (click)="closePopup()">Cancel</button>
              <button type="submit" mat-raised-button color="accent" class="save-btn" [disabled]="addUserForm.invalid">Create</button>
          </div>
      </form>
  </div>
</div>

<div class="container" *ngIf="incomingData && incomingData.action === 'delete'">
  <div class="row">
      <h2  mat-dialog-title>Are you sure you want delete this?</h2>
  </div>
  <div class="row">
      <button mat-raised-button color="warn" class="yes-btn" (click)="deleteUser()">YES</button>
      <button mat-raised-button class="no-btn" (click)="cancelDelete()">NO</button>
  </div>
</div>