<div class="modal-container">
  <h2>Assign Maintenance</h2>

  <form [formGroup]="maintenanceForm" (ngSubmit)="assignMaintenance()">
    <!-- Contractor input -->
<mat-form-field class="form-field">
  <mat-label>Contractor</mat-label>
  <mat-select formControlName="contractor" required>
    <mat-option *ngFor="let contractor of contractors" [value]="contractor.contractorID">
      {{ contractor.user.name }}
    </mat-option>
  </mat-select>
</mat-form-field>


    <!-- Maintenance Date input -->
    <mat-form-field class="form-field">
      <mat-label>Maintenance Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="maintenanceDate" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Maintenance Time input -->
    <mat-form-field class="form-field">
      <mat-label>Maintenance Time</mat-label>
      <input matInput formControlName="maintenanceTime">
    </mat-form-field>

   <!-- Maintenance Type input -->
<mat-form-field class="form-field">
  <mat-label>Maintenance Type</mat-label>
  <mat-select formControlName="maintenanceType" required>
    <mat-option *ngFor="let maintenanceType of maintenanceTypes" [value]="maintenanceType.maintenanceTypeID">
      {{ maintenanceType.maintenanceTypeName }}
    </mat-option>
  </mat-select>
</mat-form-field>


    <!-- Buttons -->
    <div class="dialog-buttons">
      <button type="button" mat-raised-button (click)="cancel()" class="cancel">Cancel</button>
      <button type="submit" mat-raised-button color="primary" class="end">Assign</button>
    </div>
  </form>
</div>
