.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    }

.card {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color:rgb(199, 206, 199);
    
    
}

.HomeHeading{
    font-size: 50px;
    margin-top:20px;
    text-align:center;
    color:white;
}

.Home-card{
    padding-bottom:20px;
    margin-bottom:20px;
    background-color: rgb(83, 119, 83);
}

.card-icon{
    color:black;
}

.link{
    color:black;
    font-size:18px;
}
