
<div class="cards">
    <mat-card class="Home-card">
        <mat-card-content class="HomeHeading">
            Home
        </mat-card-content>
    </mat-card>


<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>
        <a mat-list-item [routerLink]="'/users'">
        <mat-card class="card">
            <mat-icon class="card-icon">account_box</mat-icon> <br>
            <mat-card-content class="link">Users</mat-card-content>
        </mat-card>
        </a>
    </mat-grid-tile>

    <mat-grid-tile>
        <a mat-list-item [routerLink]="'/properties'">
        <mat-card class="card">
            <mat-icon class="card-icon">factory</mat-icon> <br>
            <mat-card-content class="link">Properties</mat-card-content>
        </mat-card>
        </a>
    </mat-grid-tile>

    <mat-grid-tile>
        <a mat-list-item [routerLink]="'/tenants'">
        <mat-card class="card">
            <mat-icon class="card-icon">person</mat-icon>  <br>
            <mat-card-content class="link">Tenants</mat-card-content>
        </mat-card>
        </a>
    </mat-grid-tile>

    <mat-grid-tile>
        <a mat-list-item [routerLink]="'/contractors'">
        <mat-card class="card">
            <mat-icon class="card-icon">construction</mat-icon> <br>
            <mat-card-content class="link">Contractors</mat-card-content>
        </mat-card>
        </a>
    </mat-grid-tile>
    <br>

    <mat-grid-tile>
        <a mat-list-item [routerLink]="'/employee'">
        <mat-card class="card">
            <mat-icon class="card-icon">group</mat-icon> <br>
            <mat-card-content class="link">Employee</mat-card-content>
        </mat-card>
        </a>
    </mat-grid-tile>

    <mat-grid-tile>
        <a mat-list-item [routerLink]="'/broker'">
        <mat-card class="card">
            <mat-icon class="card-icon">real_estate_agent</mat-icon> <br>
            <mat-card-content class="link">Broker</mat-card-content>
        </mat-card>
        </a>
    </mat-grid-tile>

    <mat-grid-tile>
        <a mat-list-item [routerLink]="'/maintenance'">
        <mat-card class="card">
            <mat-icon class="card-icon">engineering</mat-icon> <br>
            <mat-card-content class="link">Maintenance</mat-card-content>
        </mat-card>
        </a>
    </mat-grid-tile>

    <mat-grid-tile>
        <a mat-list-item [routerLink]="'/calendar'">
        <mat-card class="card">
            <mat-icon class="card-icon">calendar_month</mat-icon> <br>
            <mat-card-content class="link">Calendar</mat-card-content>
        </mat-card>
        </a>
    </mat-grid-tile>
    <br>

    <mat-grid-tile>
        <a mat-list-item [routerLink]="'/settings'">
        <mat-card class="card">
            <mat-icon class="card-icon">settings</mat-icon> <br>
            <mat-card-content class="link">Settings</mat-card-content>
        </mat-card>
        </a>
    </mat-grid-tile>

    <mat-grid-tile>
        <a mat-list-item (click)="Logout()">
        <mat-card class="card">
            <mat-icon class="card-icon">logout</mat-icon> <br>
            <mat-card-content class="link">Log out</mat-card-content>
        </mat-card>
        </a>
    </mat-grid-tile>
</mat-grid-list>
