<div fxLayout="row" class="container">
  <!-- Left container for adding problems -->
  <div fxFlex.gt-sm="30" fxFlex="100%" class="add-problem">
    <button mat-icon-button class="close-button" *ngIf="isEditMode" (click)="closeEditMode()">
      <mat-icon>close</mat-icon>
    </button>
    <h2 class="add-heading">{{ isEditMode ? 'Update Problem' : 'Add New Problem' }}</h2>
      <form (ngSubmit)="isEditMode ? updateProblem() : addProblem()">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Subject</mat-label>
            <input matInput [(ngModel)]="newProblem.problemSubject" name="problemSubject" required>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="newProblem.problemDescription" name="problemDescription" required></textarea>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Severity</mat-label>
            <mat-select [(ngModel)]="newProblem.problemSeverity" name="problemSeverity" required>
              <mat-option value="Low">Low</mat-option>
              <mat-option value="Medium">Medium</mat-option>
              <mat-option value="High">High</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Problem Status</mat-label>
            <mat-select [(ngModel)]="newProblem.problemStatusID" name="problemStatusID" required>
              <mat-option *ngFor="let status of problemStatuses" [value]="status.problemStatusID">{{ status.problemStatusName }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" (click)="togglePhotoUpload($event)">Upload Photo</button>
        <div *ngIf="showPhotoUpload">
          <br>
          <input type="file" (change)="onPhotoInputChange($event)" #fileUpload accept="image/jpeg, image/png, image/gif" style="color: black;">
        </div>
        <br><br>
        <button mat-raised-button color="primary" (click)="toggleVideoUpload($event)">Upload Video</button>
        <div *ngIf="showVideoUpload">
          <br>
          <input type="file" (change)="onVideoInputChange($event)" accept="video/*" style="color: black;">
        </div>
        <br><br>
        <button mat-raised-button style="background-color: green">
          {{ isEditMode ? 'Update Problem' : 'Add Problem' }}
        </button>
      </form>
    </div>
    <div *ngIf="problems.length === 0">
      <!-- Display a message if no problems are found -->
      <h3>No problems found for the specified inspection. Please add a problem.</h3>
      </div>
<!-- Right container for displaying problems in a table -->
<div fxFlex.gt-sm="70" fxFlex="100%" class="mat-table-container" *ngIf="problems && problems.length > 0">
  <h2>Problems</h2>
  <table mat-table [dataSource]="problems" class="mat-elevation-z8">
    <!-- Problem Subject Column -->
    <ng-container matColumnDef="problemSubject">
      <th mat-header-cell *matHeaderCellDef>Subject</th>
      <td mat-cell *matCellDef="let problem">{{ problem.problemSubject }}</td>
    </ng-container>

    <!-- Problem Description Column -->
    <ng-container matColumnDef="problemDescription">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let problem">{{ problem.problemDescription }}</td>
    </ng-container>

    <!-- Problem Severity Column -->
    <ng-container matColumnDef="problemSeverity">
      <th mat-header-cell *matHeaderCellDef>Severity</th>
      <td mat-cell *matCellDef="let problem">{{ problem.problemSeverity }}</td>
    </ng-container>

    <!-- Problem Status Column -->
    <ng-container matColumnDef="problemStatus">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let problem">{{ problem.problemStatus?.problemStatusName }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let problem">
        <button mat-icon-button color="primary" (click)="editProblem(problem)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let problem">
        <button mat-icon-button color="warn" (click)="deleteProblem(problem)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Define the columns to be displayed -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<br>

  <!-- Container for displaying images and videos when in edit mode -->
  <div *ngIf="isEditMode">
    <h3>Images for {{ editedProblem?.problemSubject }}</h3>
    <div  class="image-container">
    <div *ngFor="let image of problemImages">
      <img [src]="getImageUrl(image.imageData)" class="image" alt="Problem Image" width="100%">
    </div>
  </div>
</div>

<div *ngIf="isEditMode">
  <h3>Videos for {{ editedProblem?.problemSubject }}</h3>
  <div class="image-container">
    <div *ngFor="let video of problemVideos">
      <!-- Display the video using an HTML5 video element -->
      <video controls [src]="video.videoURL" class="video"></video>
    </div>
  </div>
</div>

</div>



