<!--<h1>{{contractorDetail.user.name}}</h1>

<button mat-button [routerLink]="['/viewContractors']">
  <mat-icon>home</mat-icon>
  Return
</button>

<div class="container">
    <div class="card">
        <div class="left">
                <div class="details">
                    <h2>Contractor</h2>
                    <h5>Name: {{contractorDetail.user.name}} {{contractorDetail.user.surname}}</h5>
                    <h5>Phone Number: {{contractorDetail.user.phoneNumber}}</h5>
                    <h5>Email: {{contractorDetail.user.email}}</h5>
                    <h5>Area of Business: {{contractorDetail.areaOfBusiness}}</h5>
                    <h5>Availability: {{ contractorDetail.availability}}</h5>
                    <h5>Contractor Type: {{ contractorDetail.contractorType}}</h5>
                    <br>
                    <div class="buttons">
                        <button mat-raised-button color="primary">UPDATE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <div class="tenant-details-container">
      <div class="card">
        <div class="card-header">
          Contractor Details
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ contractorDetail.user.name }} {{ contractorDetail.user.surname }}</h5>
          <p class="card-text">Company Name: {{ contractorDetail.areaOfBusiness }}</p>
          <p class="card-text">Company Number: {{ contractorDetail.availability }}</p>
    
          <!-- Display more tenant details here -->
          <p class="card-text">Email: {{ contractorDetail.user.email }}</p>
          <p class="card-text">Phone Number: {{ contractorDetail.user.phoneNumber }}</p>
    
          <hr>
          <div class="buttons">
            <button mat-raised-button color="primary" (click)="openUpdateModal()">Update</button>
          </div>
    
        </div>
      </div>
    </div>
    
    <div class="tenant-details-container">
      <div class="card">
      <div class="card-header">Documents:</div>
      <div class="card-body">
      <label for="fileInput" class="file-label">
        <span>Choose File</span>
        <input type="file" id="fileInput" class="file-input" (change)="onFileSelected($event)" #fileUpload accept=".pdf">
      </label>
      <div class="selected-file">
        <ng-container *ngIf="fileName">
          <iframe *ngIf="fileUrl" [src]="fileUrl" frameborder="0" width="100%" height="400"></iframe>
          <p>{{ fileName }}</p>
        </ng-container>
        <ng-container *ngIf="!fileName">
          <p>No file uploaded yet.</p>
        </ng-container>
      </div>
      <input type="text" [(ngModel)]="customDocumentName" placeholder="Document Name:"><br>
      <button mat-raised-button color="primary" class="upload-btn" (click)="uploadFile()" [disabled]="!selectedFile">
        Upload
      </button>
    
      <table class="table">
        <thead>
          <tr>
            <th>Document Name</th>
            <th>Upload Date</th>
            <th>Delete</th> <!-- Changed column header to "Action" -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let document of contractorDocuments">
            <td>{{ document.documentName || 'Untitled' }}</td>
            <td>{{ document.uploadDate | date }}</td>
            <td>
              <button mat-icon-button color="warn" (click)="deleteDocument(document.documentID)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div>
    </div>
    </div>