<h1>Properties</h1>

<div class="container">
  <div class="card"><a [routerLink]="'/viewAllProperties'">
      <div class="circle">
          <h4>View
              <br><br>
              Properties</h4>
      </div>
      <div class="content">
          <p>
            All the properties created for the system can be viewed. The rest of the information that we need to establish.
            <br>
            Click on the card will take the user to the view all the properties on the system.
          </p>
      </div>
  </a></div>

  <div class="card"><a  [routerLink]="'/generateProperties'">
      <div class="circle">
          <h4>Properties
            <br> <br>
            Report</h4>
      </div>
      <div class="content">
          <p>
            Generate Properties Report. The rest of the information that we need to establish.
            <br> <br>
            Click on the card will take the user to print a property report.
          </p>
      </div>
  </a></div>

  <div class="card"><a  [routerLink]="'/SnagList'">
    <div class="circle">
        <h4>View <br><br>Snag List </h4>
    </div>
    <div class="content">
        <p>
          View Snag List. The rest of the information that we need to establish.
          <br> <br>
          Click on the card will take the user to view Snag List.
        </p>
    </div>
</a></div>
</div>
