<div class="modal-overlay">
    <div class="modal-container">
      <h2>Edit Maintenance Type</h2>
      <form (submit)="EditMaintenanceType()">
        <mat-form-field class="form-field">
          <mat-label>Type Name</mat-label>
            <input
            matInput
              name="maintenanceTypeName"
              #maintenaceTypeName
              (keyup)="updateName(maintenaceTypeName.value)"
              
            [formControl]="nameFormControl"
          />
          <mat-error *ngIf="nameFormControl.hasError('required')">
            Maintenance Type Name is required.
          </mat-error>
          <mat-error *ngIf="nameFormControl.hasError('pattern')">
            Maintenance Type Name must contain only alphabets and spaces.
          </mat-error>
          <mat-error *ngIf="nameFormControl.hasError('maxlength')">
            Maintenance Type Name cannot exceed 32 characters.
          </mat-error>
        </mat-form-field>
        <div class="end">
          <button mat-raised-button  color="accent" (click)="EditMaintenanceType()">Update</button>
          <button mat-raised-button mat-dialog-close cdkFocusInitialcolor color="warn" class="cancel" (click)="closeModal()">Cancel</button>
      </div>
      </form>
    </div>
  </div>
  