<h1>Leases</h1>
<br>
<button mat-raised-button color="accent" (click)="openAddLeaseModal()"  matTooltip="Clcik here to add a new leasse entry">Add Lease</button>

<!--Lease signature pad--
<a [routerLink]="['/signaturePad']">
  <lord-icon
    src="https://cdn.lordicon.com/puvaffet.json"
    trigger="hover" 
    colors="primary:#ffffff,secondary:#08a88a" 
    animation="loop"
    style="width: 250px; height: 250px; float: right;"> 
  </lord-icon>
</a>-->

<br>
<br>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="leases">
    <!-- Columns for Lease data -->
    <ng-container matColumnDef="tenant">
      <th mat-header-cell *matHeaderCellDef  matTooltip="Curernt Lease holder">Tenant</th>
      <td mat-cell *matCellDef="let lease">{{ lease.tenant?.user?.name }} {{ lease.tenant?.user?.surname }}</td>
    </ng-container>

    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef  matTooltip="Current Lease holder company  ">Company</th>
      <td mat-cell *matCellDef="let lease">{{ lease.tenant?.companyName }} </td>
    </ng-container>

    <ng-container matColumnDef="property">
      <th mat-header-cell *matHeaderCellDef  matTooltip="Type of property the lease is signed to ">Property</th>
      <td mat-cell *matCellDef="let lease">{{ lease.property?.description }}</td>
    </ng-container>
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef  matTooltip="Start date of the lease accroding to the document signed. May be a date in the past">Start Date</th>
      <td mat-cell *matCellDef="let lease">{{ lease.startDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef matTooltip="End date of the lease accroding to the document signed. May not be a date in the past">End Date</th>
      <td mat-cell *matCellDef="let lease">{{ lease.endDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="monthlyAmount">
      <th mat-header-cell *matHeaderCellDef matTooltip="Current monthly rent accroding to ease document">Monthly Amount</th>
      <td mat-cell *matCellDef="let lease">{{ lease.monthlyAmount | currency: 'R'}}</td>
    </ng-container>

    <ng-container matColumnDef="deposit">
      <th mat-header-cell *matHeaderCellDef matTooltip="Current Lease deposit paid  ">Deposit</th>
      <td mat-cell *matCellDef="let lease">
        <ng-container *ngIf="lease.deposit?.length > 0; else addDepositButton">
          {{ lease.deposit[0].amount | currency: 'R' }}
        </ng-container>
        <ng-template #addDepositButton>
          <button mat-icon-button color="accent" (click)="openAddDepositDialog(lease)">
            <mat-icon>add</mat-icon>
          </button>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let lease">
        <button mat-icon-button color="warn" (click)="openDeleteDialog(lease)" matTooltip="Delete lease">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let lease">

        <!--Lease signature pad-->
        <a [routerLink]="['/signaturePad']">
          <lord-icon
            src="https://cdn.lordicon.com/puvaffet.json"
            trigger="hover" 
            colors="primary:#ffffff,secondary:#08a88a" 
            animation="loop"
            style="width: 50px; height: 50px; float: right;"
            matTooltip="Signature for lease aggrement"> 
          </lord-icon>
        </a>
        
        <button mat-icon-button color="warn" (click)="openDeleteDialog(lease)" matTooltip="Delete Lease">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Define the columns to be displayed -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
