<h1>Tenants</h1>

<!--Search Bar-->
<div class="search-container">
    <input class="search-input"  type="text" [(ngModel)]="searchTerm" (input)="search()" placeholder="Search by Tenant Name">
    <button class="search-button" mat-icon-button color="primary">
      <mat-icon>search</mat-icon>
    </button>
</div>

<!--Create Button--
<div class="create">
    <button mat-fab extended color="accent" (click)="openModal()">
        <mat-icon>add</mat-icon>
        Create User Role
    </button>
</div>-->

<br>
<br>
<br>
<br>
<br>

<!--Table-->
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone Number</th>
        <th>Company Name</th>
        <th>Company Number</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tenant of filtered">
        <td>{{ tenant.id }}</td>
        <td>{{ tenant.email }}</td>
        <td>{{ tenant.name }}</td>
        <td>{{ tenant.surname }}</td>
        <td>{{ tenant.phone }}</td>
        <td>{{ tenant.cname }}</td>
        <td>{{ tenant.cphone }}</td>
        <!--Update Button-->
        <td><button mat-raised-button color="primary" (click)="openUpdateTenantModal(tenant)"><mat-icon class="card-icon">edit</mat-icon><br></button></td>
        <!--Delete Button-->
        <td><button mat-raised-button color="warn" (click)="openDeleteTenantDialog(tenant)"><mat-icon class="card-icon">delete</mat-icon><br></button></td>
      </tr>
    </tbody>
  </table>