<div class="modal-overlay">
  <div class="modal-container">
    <h2>Add New Contractor <button mat-button color="warn" class="cancel" (click)="closeModal()">X</button></h2>
    <form (submit)="CreateContractor()">
      <mat-form-field class="form-field">
        <label>  <label class="validation">* </label>Username:</label>
        <input
          matInput
          [(ngModel)]="contractorModel.username"
          name="username"
          placeholder="Enter a username"
          required
          maxlength="50"
          [formControl]="username"
        />
        <mat-error *ngIf="username.invalid">{{getErrorMessageUsername()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>  <label class="validation">* </label>Password:</label>
        <input
          matInput
          [(ngModel)]="contractorModel.password"
          name="password"
          placeholder="Enter a password"
          required
          maxlength="50"
          [type]="hide ? 'password' : 'text'"
          [formControl]="password"
        />
        <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>  <label class="validation">* </label>Email:</label>
        <input
          matInput
          [(ngModel)]="contractorModel.email"
          name="email"
          placeholder="Enter a emaill address"
          required
          maxlength="50"
          [formControl]="email"
        />
        <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>  <label class="validation">* </label>Name:</label>
        <input
          matInput
          [(ngModel)]="contractorModel.name"
          name="name"
          placeholder="Enter a first name"
          required
          maxlength="50"
          [formControl]="name"
        />
        <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>  <label class="validation">* </label>Surname:</label>
        <input
          matInput
          [(ngModel)]="contractorModel.surname"
          name="surname"
          placeholder="Enter a surname"
          required
          maxlength="50"
          [formControl]="surname"
        />
        <mat-error *ngIf="surname.invalid">{{getErrorMessageSurname()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>  <label class="validation">* </label>Personal Number:</label>
        <input
          matInput
          [(ngModel)]="contractorModel.phoneNumber"
          name="phoneNumber"
          placeholder="Enter a phone number"
          required
          maxlength="10"
          minlength="10"
          [formControl]="phoneNumber"
        />
        <mat-error *ngIf="phoneNumber.invalid">{{getErrorMessagePhoneNumber()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>  <label class="validation">* </label>Area Of Business:</label>
        <input
          matInput
          [(ngModel)]="contractorModel.areaOfBusiness"
          name="areaOfBusiness"
          placeholder="Enter an Area of Business"
          required
          maxlength="50"
          [formControl]="areaBusiness"
        />
        <mat-error *ngIf="areaBusiness.invalid">{{getErrorMessageAreaBusiness()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>  <label class="validation">* </label>Availability: </label>
        <input
          matInput
          [(ngModel)]="contractorModel.availability"
          name="availability"
          placeholder="Enter availability schedule"
          required
          maxlength="50"
          [formControl]="availability"
        />
        <mat-error *ngIf="availability.invalid">{{getErrorMessageAvailability()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <label>  <label class="validation">* </label>Contractor Type:</label>
        <mat-select [(ngModel)]="contractorModel.contractorType"  placeholder="Select contractor type" name="contractorType" (selectionChange)="updateSelectedContractorType($event.value)">
          <mat-option *ngFor="let contractorType of contractorTypes" [value]="contractorType">{{ contractorType.contractorTypeName }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="modal-actions">
        <button mat-raised-button type="submit" color="accent" (click)="sendToBackend()">
          Add Contractor
        </button>
        <button mat-raised-button color="warn" (click)="closeModal()" class="cancel">Cancel</button>
      </div>

