<h1>User Roles</h1>

<!--Search Bar-->
<div class="search-container">
    <input class="search-input" [(ngModel)]="searchTerm" placeholder="Search User Roles">
    <button class="search-button" mat-icon-button color="primary">
      <mat-icon>search</mat-icon>
    </button>
</div>

<!--Create Button-->
<div class="create">
    <button mat-fab extended color="accent" (click)="openModal()">
        <mat-icon>add</mat-icon>
        Create User Role
    </button>
</div>

<!--Table-->
<!--Update Button-->
<!--Delete Button-->