<h1>User Roles</h1>

<!--Search Bar-->
<div class="search-container">
    <input class="search-input" [(ngModel)]="searchTerm" placeholder="Search User Roles">
    <button class="search-button" mat-icon-button color="primary">
      <mat-icon>search</mat-icon>
    </button>
</div>

<!--Create Button-->
<div class="create">
    <button mat-fab extended color="accent" (click)="openModal()">
        <mat-icon>add</mat-icon>
        Create User Role
    </button>
</div>

<br>
<br>
<br>
<br>
<br>

<!--Table-->
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Role Name</th>
        <th>Access Level</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData">
        <td>{{ row.id }}</td>
        <td>{{ row.roleName }}</td>
        <td>{{ row.accessLevel }}</td>
        <!--Update Button-->
        <td><button mat-raised-button color="accent"><mat-icon class="card-icon">edit</mat-icon><br></button></td>
        <!--Delete Button-->
        <td><button mat-raised-button color="warn"><mat-icon class="card-icon">delete</mat-icon><br></button></td>
      </tr>
    </tbody>
  </table>