.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    }

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contractorCard, .reportCard {
    max-width: 400px;
}

.contractorCard{
    padding: 10px;
}

.reportCard {
    padding: 10px;
}

.cards{
    display: flex;
    padding: 10px;
    flex: 1;
    margin: 10px;
}

.icon {
    align-items: center;
    padding: 10px;
    text-align: center;
}

button {
    margin-right: 8px;
}
  
.search-container {
    display: flex;
    float: left;
    align-items: left;
    width: 50%;
    margin: 0 auto; 
    background-color: lightgray;
    padding: 10px;
    border-radius: 4px;

}
  
.search-input {
    flex-grow: 1;
    border: none;
    background-color: lightgray;
    padding: 4px;
    font-size: 16px;
    color: black;
    margin-right: 8px;
}
  
.search-button {
    margin-left: 8px;
    font-size: 20px;
    color: green;
}  

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    width:100%;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: rgb(105,240,174);
    color: black;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    
}

.styled-table tbody tr{
    background-color: lightgray;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: black;
}


button {
    margin-right: 8px;
}
  
.container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 70%;
}
  
.create {
    float: right;
    position: relative;
    font-size: 30px;
}
