<h1>All Contractors</h1>

<div class="create">
  <button mat-fab extended color="accent" (click)="openCreateContractorModal()">
    <mat-icon>add</mat-icon>
    Add New Contractor
  </button>
</div>

<br />

<div class="mat-elevation-z8">
  <mat-form-field appearance="fill">
    <mat-label> <mat-icon>search</mat-icon>  Search</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Start typing..."
      #input
    />
  </mat-form-field>

<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.user.name }} {{element.user.surname}}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">
      {{ element.user.email }}
    </td>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef>Phone Number</th>
    <td mat-cell *matCellDef="let element">{{ element.user.phoneNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="areaOfBusiness">
    <th mat-header-cell *matHeaderCellDef>Area Of Business:</th>
    <td mat-cell *matCellDef="let element">{{ element.areaOfBusiness }}</td>
  </ng-container>

  <ng-container matColumnDef="availability">
    <th mat-header-cell *matHeaderCellDef>Availability: </th>
    <td mat-cell *matCellDef="let element">{{ element.availability }}</td>
  </ng-container>

  <ng-container matColumnDef="contractorType">
    <th mat-header-cell *matHeaderCellDef>Contractor Type:</th>
    <td mat-cell *matCellDef="let element">{{ element.contractorType.contractorTypeName }}</td>
  </ng-container>

  <ng-container matColumnDef="detailsButton">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let element">
      <button mat-button [routerLink]="['/contractorDetails', element.tenantID]">
        <mat-icon>face</mat-icon>
        Details
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="deleteButton">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-button
        class="deletebutton"
        style="color:red;"
        (click)="openDeleteConfirmationDialog(element.contractorId)"
      >
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      No data matching the filter "{{ input.value }}"
    </td>
  </tr>
</table>
<mat-paginator
  [pageSize]="10"
  [pageSizeOptions]="[3, 5, 10]"
  showFirstLastButtons
>
</mat-paginator>
